
<div class='contents'>
  <div class='middle_content'>

<h2>新規アカウント作成</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, size: 30, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上ご入力ください)</em>
    <% end %><br />
    <%= f.password_field :password, size: 30, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :もう一度パスワードをご入力ください %><br />
    <%= f.password_field :password_confirmation, size: 30, autocomplete: "off" %>
  </div>
  <div class='field'>
    <%= f.label :ニックネーム（必須）（変更できます） %><br />
    <%= f.text_field :nickname, size: 30 %>
        </div>
    <div class="avatar_input">
    <%= f.label :アイコン画像（変更できます） %><br />
    <%= f.file_field :avatar %>
    </div>
  <div class="actions">
    <%= f.submit "作成" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  </div>
  </div>
