<% provide :title, "ーー”仕事”を知る、知らせる" %>
<div class='contents'>
   <% if user_signed_in? && current_user.articles.blank? %>
    <%= render 'shared/article_to' %>
    <% end %>
   <% if user_signed_in? && current_user.articles.exists? %>
     <div class='top_content'>
  <div class='article_btn'>
    <%= link_to '記事を編集して充実させましょう', "/articles/#{@article.id}/edit" %>
    <p class='article_explanation'>あなたが就職を考え出した時からいままでにやってきたことを紹介しましょう。
    </p>
  </div>
  </div>


    <% end %>

  <div class='middle_content'>
    <% @articles.each do |article| %>
      <div class='message_box clearfix'>
        <div class='plofile clearfix'>
          <%= image_tag article.user.avatar, class: 'sample_image' %>

         <ul class='message'>
          <li class="name2">
            <a href="/users/<%= article.user.id %>"><%= article.user.nickname %></a>
          </li>

          <li class='job2'>
            <%= article.user.job %>
          </li>
        </ul>
        </div>
       <ul class='message_bottom'>
        <li class='title2'>
        <a href='/articles/<%= article.id %>'><%= article.title %></a>
        </li><br>
        <li class='text text0'>
          <%= article.content %>
        </li>
       </ul>
     </div>

     <% article.comments.each do |comment| %>
     <div class='profile clearfix'>
        <%= image_tag comment.user.avatar, class: 'sample_image' %>
      <ul class='message'>
        <li class="name2">
          <%= comment.user.nickname %>
        </li>
        <li class='job2'>
          <%= comment.user.job %>
        </li>
      </ul>
    </div>
      <ul class='message_bottom2'>
        <li class='text'>
        <%= comment.content %>
        </li>
      </ul>
      <% end %>


     

    <% if user_signed_in? %>
    <div class='comment_form'>
      <%= form_for(@comment) do |f| %>
        <%= f.text_area :content, placeholder: 
        'コメントを書く', size: "57x2", class: "content_input" %>
        <%= f.hidden_field :commentable_id, value: article.id %>
        <%= f.hidden_field :commentable_type, value: "Article" %>

        <%= f.submit "コメントする", class: 'submit_button1' %>
        <% end %>
    </div>
     <% end %>
    <% end %>
    <%= paginate(@articles) %>
  </div>
</div>
