
<div class='contents'>
  <div class='middle_content'>
    <% @articles.each do |article| %>
      <div class='message_box clearfix'>
        <%= image_tag 'bg.jpg', class: 'sample_image' %>
       <ul class='message'>
        <li class="name">
          <%= article.nickname %>
        </li>
        <li class='job'>
          <%= article.job %>
        </li>
        <li class='title'>
        <a href='/articles/<%= article.id %>'><%= article.title %></a>
        </li><br>
        <li class='text'>
          <%= article.content%>
        </li>
       </ul>
     </div>
    <% end %>
  </div>
</div>