
<div class='contents'>
  <div class='middle_content'>
    <% @articles.each do |article| %>
      <div class='message_box clearfix'>
      <div>
        <%= image_tag article.user.avatar, class: 'sample_image' %>
      </div>
       <ul class='message'>
        <li class="name">
          <%= article.user.nickname %>
        </li>
        <li class='job'>
          <%= article.job %>
        </li>
        <li class='title'>
        <a href='/articles/<%= article.id %>'><%= article.title %></a>
        </li><br>
        <li class='text'>
          <%= article.content%>
        </li>
       </ul>
     </div>
    <% end %>
    <!-- <div class='page'> -->
    <%= paginate(@articles) %>
      
    <!-- </div> -->
  </div>
</div>