
<div class='contents'>
  <div class='middle_content'>
    <h3>投稿してみよう</h3>
    <%= form_for(@article) do |f|%>
      <p>お名前</p>
      <%= f.text_field :nickname, class: 'nickname_input', placeholder: 'ニックネームを書いてください', size: 35 %>
      <p>画像</p>
      <%= f.text_field :image_url, class: 'image_url_input', placeholder: '画像URLを入力してください', size: 35 %>

      <p>ご職業</p>
      <%= f.text_field :job, class: 'job_input', placeholder: 'ご職業を書いてください', size: 35 %>

      <p>本文</p>
      <%= f.text_area :content, placeholder: '本文を入力してください', size: "70x14", class: "content_input" %>
      <%= f.submit "送信する", class: 'submit_button' %>

      <% end %>
  </div>
</div>
