<% provide :title,  @article.title %>
<div class='contents'>
  <div class='middle_content'>

    <div class='message_box5 clearfix'>
        <%= image_tag @article.user.avatar, class: 'sample_image' %>
        <ul class='message2'>
        <li class="name3">
          <%= @article.user.nickname %>
        </li>
        <li class='job3'>
          <%= @article.user.job %>
        </li>

          <% unless @article.image_url.blank? %>
    <%= image_tag @article.image_url.url, class: 'sample_image2' %>
    <% end %>

        <li class='title_show'>
          <%= @article.title %>
        </li><br><br>

        <li class='text'>
          <%= @article.content%><br><br><br>
        </li>
     </ul>
   </div>
  <%= render 'shared/comment' %>

      <div class='comment_form'>
      <%= form_for(@comment) do |f| %>
        <%= f.text_area :content, placeholder: 
        'コメントを書く', size: "57x2", class: "content_input" %>
        <%= f.hidden_field :commentable_id, value: @article.id %>
        <%= f.hidden_field :commentable_type, value: "Article" %>

        <%= f.submit "コメントする", class: 'submit_button1' %>
        <% end %>
    </div>
  </div>
</div>
