<div class='contents'>
  <div class='middle_content'>
    <%= image_tag 'bg.jpg', class: 'sample_image2' %>
      <ul class='message2'>
        <li class="name">
          <%= @article.nickname %>
          <%= link_to '削除', "/articles/#{@article.id}", :method => :delete, class: 'delete_button' %>
          <%= link_to '編集', "/articles/#{@article.id}/edit", :method => :get, class: 'update_button' %>

        </li>
        <li class='job'>
          <%= @article.job %>
        </li>
        <li class='title_show'>
          <<%= @article.title %>>
        </li><br><br>
        <li class='text'>
          <%= @article.content%>
        </li>
     </ul>
  </div>
</div>