<% provide :title, "投稿する" %>

<div class='contents'>
  <div class='middle_content'>
    <h3>最近の仕事について</h3>
    <div class='explanation'>
    <span>最近の仕事の近況報告や思ったことなど日常について書いてください<br>この投稿は何回でもできます</span>
    </div>
    <%= form_for(@tweet) do |f|%>
       <p>タイトル</p>
       <%= f.text_field :title, class: 'title_input', placeholder: 'ex)勉強しなきゃなー…', size: 35 %>
      <p>画像</p>
      <%= f.file_field :image_url %>

      <p>本文</p>
      <%= f.text_area :content, placeholder: 
      '        ex)今日、仕事中にプログラマーの人としゃべったのですが、
      自分はプログラミングのプの字も知らないので何も理解できず、
      意思疎通にとても時間がかかってしまいました。
      ネットの時代なので自分も少しはプログラミングの勉強しようかなー。', size: "70x14", class: "content_input" %>
      <%= f.submit "投稿する", class: 'submit_button' %>

      <% end %>
  </div>
</div>
