<% provide :title, @user.nickname + "さんのマイページ" %>
<div class='contents'>

 <% if user_signed_in? && @user.id == current_user.id %>
   <% unless @articles.exists? %>
    <%= render 'shared/article_to' %>
    <% end %>
    <%= render 'shared/tweet_to' %>
  <%= render 'shared/mail_and_edit' %>
  <% end %>

  <div class='middle_content clearfix'>
  <%= image_tag @user.avatar, class: 'sample_image' %>
    <div class='message_box'>
        <div class='plofile clearfix'>

      <ul class='message'>
        <li class="name2">
         <%= @user.nickname %>
        </li>
        <li class='job2'>
          <%= @user.job %>
        </li>
      </ul>
    </div>
    </div>


    <ul class='message_bottom'>
      <% @articles.each do |article| %>

        <li class='title2'>
        <a href='/articles/<%= article.id %>'><%= article.title %></a>
        </li><br>
        <li class='text0'>
          <%= article.content %>
        </li>
        <br>

        <% if article.comments.exists? %>
          <hr class='hr2'>
        <% end %>

      <% article.comments.each do |comment| %>
             <div class='profile1 clearfix'>
                <%= image_tag comment.user.avatar, class: 'sample_image' %>
              <ul class='message'>
                <li class="name2">
                  <%= comment.user.nickname %>
                </li>
                <li class='job2'>
                  <%= comment.user.job %>
                </li>
              </ul>
            </div>
            <ul class='message_bottom2'>
              <li class='text'>
              <%= comment.content %>
              </li>
            </ul>
      <% end %>

      <% end %>
    </ul>

       <ul class='message1'>
      <% @tweets.each do |tweet| %>
        <div class='message_box4'>
        <li class='title2'>
        <a href='/tweets/<%= tweet.id %>'><%= tweet.title %></a>
        </li><br>
        <li class='text'>
          <%= tweet.content %>
        </li>
        <br>

        <% if tweet.comments.exists? %>
          <hr class='hr2'>
        <% end %>

       </div>

         <% tweet.comments.each do |comment| %>
     <div class='profile1 clearfix'>
        <%= image_tag comment.user.avatar, class: 'sample_image' %>
      <ul class='message'>
        <li class="name2">
          <%= comment.user.nickname %>
        </li>
        <li class='job2'>
          <%= comment.user.job %>
        </li>
      </ul>
    </div>
      <ul class='message_bottom3'>
        <li class='text'>
        <%= comment.content %>
        </li>
      </ul>
      <% end %>

      <% end %>
    </ul>

  </div>
</div>
