<div class='contents'>
  <div class='middle_content clearfix'>
  <%= image_tag @user.avatar, class: 'sample_image' %>
  <div class='message_box3'>
      <ul class='message'>
        <li class="name">
         <%= @user.nickname %>
        </li>
        <li class='job'>
          <%= @user.job %>
        </li>
      </ul>
    </div>
    <hr class='hr2'>


      <ul class='message1'>
        <% @articles.each do |article| %>
        <div class='message_box4'>
        <li class="name">
         <%= @user.nickname %>
        </li>
        <li class='job'>
          <%= article.user.job %>
        </li>
        
        <li class='title'>
        <a href='/articles/<%= article.id %>'><%= article.title %></a>
        </li><br>
        <li class='text'>
          <%= article.content%>
        </li>
      </div>
        <% end %>
      </ul>

  </div>
</div>
