<!DOCTYPE html>
<html>
<head>
  <title>Jobs <%= yield :title %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <header>
    <div class='header_nav'>

   <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default" %>

    <a class="btn btn-default, btn_color" href="/users/<%= current_user.id %>"role="button">マイページ</a>
    <% else %>
    <a class="btn btn-default" href="/users/sign_in" role="button">ログインする</a>
    <a class="btn btn-default, btn_color" href="/users/sign_up" role="button">新規アカウント作成</a>
    <% end %>
  </div>

   <h1><%= link_to 'Jobs','/articles', :class => 'page_title' %></h1>

   <hr class='hr1'>

    <div class="btn-default1">
   <a href="/articles/explanation" role="button">Jobsとは</a>
 </div>
 <div class='header_nav1'>
   <a class="btn btn-default" href="/articles" role="button">みんなの仕事</a>
   <a class="btn btn-default" href="/tweets" role="button">仕事の1コマ</a>
 </div>
 </header>
    <%= yield %>

</body>
<footer>
</footer>
</html>
